.weather {
  background-color: #333;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  .details {
    display: inline-block;
    text-align: right;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    .unit {
      font-size: 150%;
    }

    .value {
      font-weight: bold;
      font-size: 200%;
      margin: 0 .75rem 0 0;
    }

    .fa {
      margin: 0 0 0 .75rem;
    }

    .temperature {
      .value {
        font-size: 300%;
      }
    }
  }

  svg {
    width: 0;
    height: 0;

    path {
      fill: #b71c1c;
      opacity: 0.5;
    }

    rect {
      fill: #0d47a1;
      opacity: 0.5;
    }
  }

  .labels {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 50%;

    .label {
      position: absolute;
    }

    .x {
      .label {
        bottom: 0;
        transform: translateX(-50%);
      }

      :nth-child(1),
      :nth-child(9) {
        display: none;
      }
    }

    .y {
      .temperature {
        display: flex;
        flex-direction: column;

        .label {
          display: block;
          left: .25rem;
        }
      }

      .rain {
        display: flex;
        flex-direction: column;

        .label {
          display: block;
          right: .25rem;
        }
      }
    }
  }
}
